/* src/pages/HomePage.css */


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}


.navigate-button {
    padding: 12px 24px; 
    font-size: 18px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


    .navigate-button:hover {
        background-color: #45a049;
    }
