
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4973FD;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #4973FD;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
